<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TAREAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="input-item" [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="floating">Task Name</ion-label>
      <ion-input formControlName="title" required></ion-input>
     
    </ion-item>

     <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select formControlName="categoryId" placeholder="Select a category" required>
      <ion-select-option 
        *ngFor="let category of categories" 
        [value]="category.title">
        {{ category.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Completed</ion-label>
      <ion-checkbox formControlName="completed"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="form.invalid">Submit</ion-button>

  </form>


</ion-content>